<h3>Add New Owner</h3>

<form action="/owners" method='post' id="new_owner">
    <label>
        Name: 
        <input type="text" name="name" id="name">
    </label>
    <br>

    <label>
        Email: 
        <input type="text" name="email" id="email">
    </label>
    <br>

    <button>Create Owner</button>

</form>