body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
}

header{
    display: flex
}

header li {
    display: inline-flex;
    justify-content: space-between;
}

.side_conatiner {
    background-image: '/images/karsten-winegeart-oU6KZTXhuvk-unsplash.jpg';
}

.pet_image{
    max-width: 50vw;
}

#new_pet input{
    margin: 10px;
    
}

footer {
    position: absolute;
    bottom: 0;
}