<h2>The result of your lookup for "<%= @stock_code %>" is:</h2>
<ul>
    <li><strong>Company name:</strong> <%= @results.company_name %></li>
    <li><strong>Latest price:</strong> $<%= @results.latest_price %></li>

</ul>

