

<p>Hello there!</p>

<p>The form for the calculator is <a href="\about">here</a> or </p>

<p> Try changing the URL here to /calc/#/operator/# </p>

<p>Where:</p>

<p> # is a number and </p>
<p>operator is one of the following words: </p>
<ul>
    <li> times</li>
    <li>plus </li>
    <li>subtract</li>
    <li>divide </li>
</ul>

<p> You'll see the result below: </p>

<h3>

The result of <%= @num1 %> <%=@operator%> <%= @num2%> is <%= @result %> </h3>