<html>
<head>
    <title>Calculator Site</title>
</head>
<body>
    <header>
        <nav>
            <h1>Calculator</h1>
            <a href="/">Home</a>
        </nav>
    </header>
<section>
    <%= yield %> 
</section>
    <footer>   
        <p> &copy 2022 NewTrick</p>
    </footer>
</body>
</html>

