<h2>Movie Search</h2>


<form action="/movies/lookup">
    <label for="">
        I want to see a movie about...
        <input type="text" name="query" id="query">

        <button>Lookup</button>
    </label>


</form>