<h2> Stock data for <%= @stock_code %>: </h2>

<p>Company name: <%= @company_name %></p> 
<p>Latest Price: <%= @stock_price %>


<p>Loop Practice</p>
<% @fake_array.each do |name| %>
    
    <%= name %> <br>

<% end %>
