<h1> Welcome to the Home Of the Roundest Pets Around </h1>


<p>This is a practice page using <strong>SQLite3</strong> to create, read, update, and delete data. </p>

<p>Use the links above to navigate the site </p>