

<h3>Add New Pet</h3>

<form action="/pets" method='post' id="new_pet">
    <label>
        Name: 
        <input type="text" name="name" id="name">
    </label>
    <br>

    <label>
        Species: 
        <input type="text" name="species" id="species">
    </label>
    <br>


    <label>
        Description: 
        <input type="text" name ="description" id="description">
    </label>
    <br>

     <label>
        Roundness: 
        <input type="text" name ="roundness" id="roundness">
    </label>
    <br>


    <label>
        Alive (1 = yes, 0 = no): 
        <input type="text" name ="alive" id="alive">
    </label>
    <br>


    <label>
        Age: 
        <input type="text" name ="age" id="age">
    </label>
    <br>

    <label>
        Image URL: 
        <input type="text" name ="image_url" id="image_url">
    </label>
    <br>

    <button>Create Pet</button>

</form>